
<form class="form-control bg-gray-light">
  <input type="search" placeholder="search" class="border-0 p-2 text-black fa">
  <div class="dropdown btn">
    <a href="#" class="pt-0 mx-auto fa" data-toggle="dropdown">
      <span class="btn-secondary px-5 pt-2 pb-1">all services</span>
    </a>
    <ul class="dropdown-menu mt-1 p-2">
      <a href="#" class="d-block btn-link">add my product</a>
      <a href="#" class="d-block btn-link pt-3">contact me </a>
      <a href="#" class="d-block btn-link pt-3">collection </a>
    </ul>
  </div>
  <div class="dropdown btn">
    <a href="#" class="pt-0 mx-auto fa" data-toggle="dropdown">
      <span class="btn-secondary" style="padding: 10px 65px 6px 65px">all</span>
    </a>
    <ul class="dropdown-menu mt-1 p-2">
      <a href="#" class="d-block btn-link">add my product</a>
      <a href="#" class="d-block btn-link pt-3">contact me </a>
      <a href="#" class="d-block btn-link pt-3">collection </a>
    </ul>
  </div>
</form>
